$general-background: linear-gradient(rgb(17, 43, 77), rgb(120, 107, 175));
$block-background: rgba(205, 225, 241, 0.52);
$textColor: #181e5d;
$tagTextColor: #4755f5;
$btnTextColor: #fff;
$btnDisabledTextColor: #444;
$btnBackgroundColor: #3e8ce5;
$btnActiveBackgroundColor: #9ebfde;
$block-border-radius: 7px;