@import "assets/scss/variables";

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

.App {
  background:$general-background;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 20px;
  //overflow-y: scroll;
}
